* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	font-family: "Ubuntu", sans-serif;
	background-color: #333;
}

.box {
	padding: 80px 140px;
	border-radius: 15px;
	background-color: #222;
	box-shadow: 0 0 15px rgba(0, 144, 255, 0.6);
}

.link {
	position: relative;
	padding: 10px 20px;
	font-size: 48px;
	color: rgb(0, 140, 255);
	text-decoration: none;
}

.link,
.link::after,
.link::before {
	transition: 0.7s;
}

/* pierwszy link */

.one::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	width: 100%;
	background-color: #fff;
	transform: scaleX(0);
	transform-origin: left;
}
.one:hover::after {
	transform: scaleX(1);
	transform-origin: right;
}

/* two */

.two::before,
.two::after {
	content: "";
	position: absolute;
	width: 0px;
	height: 0px;
}
.two::before {
	top: -2px;
	left: -8px;
}
.two::after {
	bottom: -2px;
	right: -8px;
}
.two:hover::after,
.two:hover::before {
	width: 50px;
	height: 50%;
}
.two:hover::before {
	top: -2px;
	left: -8px;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
}

.two:hover::after {
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
}

/* three */

.three::after,
.three::before {
	content: "";
	position: absolute;
	width: 0;
	bottom: 0;
	border-bottom: 2px solid #fff;
}

.three::before {
	right: 50%;
}

.three::after {
	left: 50%;
}

.three:hover::after,
.three:hover::before {
	width: 50%;
}

/* four */

.four {
	z-index: 0;
}

.four::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
	z-index: -1;
}
.four:hover {
	color: #000;
}

.four:hover::after {
	width: 100%;
	height: 100%;
}

/* five */

.five {
	z-index: 0;
}
.five:hover {
	animation: blink 0.5s;
}

.five::before,
.five::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	width: 0;
	background-color: #fff;
	z-index: -1;
}

.five::before {
	left: 0;
}
.five.five::after {
	right: 0;
}

.five:hover::before,
.five:hover::after {
	animation: background 0.5s 0.4s forwards;
}

@keyframes background {
	from {
		with: 0;
	}
	to {
		width: 50%;
	}
}
@keyframes blink {
	0% {
		opacity: 1;
	}
	10% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	60% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
